body {
    background-color: hsl(0, 100%, 50%);
}

#header {
    color: hsl(180, 100%, 10%);
}

.results {
    padding: 10px 10px 10px 10px;
    margin: 10px 50px 10px 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: hsl(180, 100%, 50%);
}

.result_text {
    color: hsl(0, 10%, 10%);
}

.field {
    margin-left: 431px;
}
