html, body {
    background-color: hsl(0, 100%, 50%);
    margin: 0;
    height: 100%;
}

#header {
    margin-top: 3%;
    color: hsl(180, 100%, 10%);
}

.results {
    padding: 10px 10px 10px 10px;
    margin: 10px 50px 10px 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: hsl(180, 100%, 50%);
}

.result_text {
    color: hsl(0, 10%, 10%);
}

.field {
    margin: 0 40%;
    padding: 5px 0 5px 5px;
    width: 20%;
}
